html{
    background-color: black;
  }

div{
    width: 50%;
    margin: 50px 25%;
    color: white;
    text-align: center;
  
  }
img{
    border: 5px solid white;
    width: 100%;
  }
h1{
    text-transform: uppercase;
    font-family: "Libre Baskerville";
    text-align: ;
  }
